
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: dhcpoptions.dnsmasq.kvaps.cf
spec:
  group: dnsmasq.kvaps.cf
  names:
    kind: DhcpOptions
    listKind: DhcpOptionsList
    plural: dhcpoptions
    singular: dhcpoptions
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: DhcpOptions is the Schema for the dhcpoptions API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: DhcpOptionsSpec defines the desired state of DhcpOptions
          properties:
            controller:
              type: string
            options:
              items:
                description: DhcpOption defines dhcp-option for dnsmasq
                properties:
                  encap:
                    type: string
                  key:
                    pattern: ^([0-9]+|option:.+|option6:.+)$
                    type: string
                  leaseTime:
                    type: string
                  tags:
                    items:
                      type: string
                    type: array
                  values:
                    items:
                      type: string
                    type: array
                  viEncap:
                    type: string
                required:
                - key
                - values
                type: object
              type: array
          required:
          - options
          type: object
        status:
          description: DhcpOptionsStatus defines the observed state of DhcpOptions
          type: object
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
