
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: dhcphosts.dnsmasq.kvaps.cf
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.controller
    name: Controller
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: dnsmasq.kvaps.cf
  names:
    kind: DhcpHosts
    listKind: DhcpHostsList
    plural: dhcphosts
    singular: dhcphosts
  scope: Namespaced
  subresources: {}
  validation:
    openAPIV3Schema:
      description: DhcpHosts is the Schema for the dhcphosts API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: DhcpHostsSpec defines the desired state of DhcpHosts
          properties:
            controller:
              type: string
            hosts:
              items:
                description: DnsmasqDhcpHost holds the mapping between Macs and IP
                  that will be added to dnsmasq dhcp-hosts file.
                properties:
                  clientIDs:
                    items:
                      type: string
                    type: array
                  hostname:
                    type: string
                  ignore:
                    type: boolean
                  ip:
                    type: string
                  leaseTime:
                    type: string
                  macs:
                    items:
                      type: string
                    type: array
                  setTags:
                    items:
                      type: string
                    type: array
                  tags:
                    items:
                      type: string
                    type: array
                type: object
              type: array
          required:
          - hosts
          type: object
        status:
          description: DhcpHostsStatus defines the observed state of DhcpHosts
          type: object
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
